<h2>Tableau de bord</h2>

<h3 class="mt-2">Voyages futurs </h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/6">Id</th>
      <th class="w-1/6">Destination</th>
      <th class="w-1/6">Nom client</th>
      <th class="w-1/6">Date départ</th>
      <th class="w-1/6">Date retour</th>
      <th class="w-1/6">Actions</th>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/6 text-center ">2</td>
      <td class="w-1/6 text-center">Paris</td>
      <td class="w-1/6 text-center">Bourlet</td>
      <td class="w-1/6 text-center">21/04/2019</td>
      <td class="w-1/6 text-center">29/04/2019</td>
      <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i><i class="fas fa-download"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/6 text-center ">3</td>
      <td class="w-1/6 text-center">Bruxelles</td>
      <td class="w-1/6 text-center">Poulet</td>
      <td class="w-1/6 text-center">19/03/2019</td>
      <td class="w-1/6 text-center">19/03/2019</td>
      <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i><i class="fas fa-download"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/6 text-center ">4</td>
      <td class="w-1/6 text-center">Londres</td>
      <td class="w-1/6 text-center">Cascouilles</td>
      <td class="w-1/6 text-center">01/05/2019</td>
      <td class="w-1/6 text-center">03/05/2019</td>
      <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i><i class="fas fa-download"></i></td>
    </tr>
  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.requests"}}Voir toutes vos demandes de devis{{/link-to}}
  </div> --}}
</div>

<h3 class="mt-4">Voyages terminés</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/6">Id</th>
      <th class="w-1/6">Destination</th>
      <th class="w-1/6">Nom client</th>
      <th class="w-1/6">Date départ</th>
      <th class="w-1/6">Clôture chauffeur</th>
      <th class="w-1/6">Actions</th>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/6 text-center ">7</td>
      <td class="w-1/6 text-center">Reims</td>
      <td class="w-1/6 text-center">Balai</td>
      <td class="w-1/6 text-center">21/01/2019</td>
      <td class="w-1/6 text-center">Oui</td>
      <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i><i class="fas fa-user-edit"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/6 text-center ">52</td>
      <td class="w-1/6 text-center">Amsterdam</td>
      <td class="w-1/6 text-center">Roili</td>
      <td class="w-1/6 text-center">27/01/2019</td>
      <td class="w-1/6 text-center">Non</td>
      <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i><i class="fas fa-user-edit"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/6 text-center ">6</td>
      <td class="w-1/6 text-center">La Panne</td>
      <td class="w-1/6 text-center">Moliu</td>
      <td class="w-1/6 text-center">12/02/2019</td>
      <td class="w-1/6 text-center">Non</td>
      <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i><i class="fas fa-user-edit"></i></td>
    </tr>
  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.proposals"}}Voir toutes les propositions de devis{{/link-to}}
  </div> --}}
</div>

<h3 class="mt-4">Imprimer documents</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/3">Id</th>
      <th class="w-1/3">Nom</th>
      <th class="w-1/3">Actions</th>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/3 text-center">1</td>
      <td class="w-1/3 text-center">Feuille de repos</td>
      <td class="w-1/3 text-center"><i class="fas fa-download"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/3 text-center">2</td>
      <td class="w-1/3 text-center">Liste passagers vierge UK</td>
      <td class="w-1/3 text-center"><i class="fas fa-download"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/3 text-center">3</td>
      <td class="w-1/3 text-center">Planning mensuel</td>
      <td class="w-1/3 text-center"><i class="fas fa-download"></i></td>
    </tr>
  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.folders"}}Voir tous vos devis acceptés{{/link-to}}
  </div> --}}
</div>

{{outlet}}