<div class="bgPrimaryBlue md:w-1/4 xl:w-1/5 w-full md:h-screen md:float-left md:fixed">

  <div class="bgGreyBlack m-0 text-center banner">
    <h3 class="m-0 p-0 text-white sm:text-xs lg:text-base xl:text-xl">Pimp My Trip - backoffice</h3>
  </div>

  <div class="p-6 text-center">
    <span class="m-0 font-thin tracking-wide sm:text-xs lg:text-base xl:text-xl">Navigation - Agent</span>
  </div>

  {{!-- Menu --}}
  <nav>
    <ul class="menuBack list-reset sm:text-xs lg:text-base xl:text-xl">
      {{#link-to "back-agent.agent.dashboard"}}<li><i class="fas fa-home mr-2"></i>Tableau de bord</li>{{/link-to}}
      {{#link-to "back-agent.agent.clients-list"}}<li><i class="far fa-user mr-3"></i>Liste clients</li>{{/link-to}}
      {{#link-to "back-agent.agent.quotes-list"}}<li><i class="fas fa-file-invoice mr-3"></i>Liste devis</li>{{/link-to}}
      {{#link-to "back-agent.agent.folders-list"}}<li><i class="far fa-folder-open mr-3"></i>Liste dossiers</li>{{/link-to}}
      {{#link-to "back-agent.agent.drivers-list"}}<li><i class="far fa-id-badge mr-3"></i>Liste chauffeurs</li>{{/link-to}}
    </ul>
  </nav>
</div>

{{!-- body --}}
<div class="md:w-3/4 xl:w-4/5 md:float-right relative md:min-h-screen">
  <div class="bgGreyBlack text-white pr-20 banner text-center md:text-right">
    <input class="bgPrimaryBlue hover:bg-white hover:text-blue text-white font-bold py-2 px-4 rounded-sm" type="button"
      value="Logout" onclick={{action "logout"}}>
  </div>

  <div class="p-3 mb-10 bodyBack">
    {{outlet}}
  </div>

  {{!-- footer --}}
  <div class="footer bg-white banner text-center flex sm:flex-wrap-reverse lg:flex-no-wrap lg:justify-between sm:relative md:absolute pin-b w-full text-xs text-grey-dark -mb-6 md:-mb-20">
    <div class="sm:mx-auto lg:mx-0">
      Copyright © 2019 Technocité, Pimp My Trip. Tous droits réservés
    </div>
    <div class="sm:mx-auto lg:mx-0 lg:mt-0">
      <ul class="list-reset flex justify-center">
        <li>{{#link-to "home"}}Home{{/link-to}}</li>
        <li class="pl-4">{{#link-to "devis"}}Voyage{{/link-to}}</li>
        <li class="pl-4">{{#link-to "home"}}A propos{{/link-to}}</li>
        <li class="pl-4">{{#link-to "home"}}Contact{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>