<div class="bg-grey-lighter h-screen font-sans">
  <div class="container mx-auto h-full flex justify-center items-center">
    <div class="sm:w-4/5 md:w-2/5">
      <form class="border-teal p-8 border-t-12 bg-blue  rounded-lg shadow-lg" onsubmit={{action "login"}}>
        <img class="mb-6" src="/assets/images/logo.png">
        <div class="mb-4">
          {{input type="text" value=contactConfirmEmail class="block appearance-none w-full bg-white border
          border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Email" id="email"}}
        </div>
        <div class="mb-4">
          {{input type="text" value=contactConfirmPwd class="block appearance-none w-full bg-white border
          border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Mot de passe" id="password"}}
        </div>
        <div class="flex items-center justify-between">
          <input class="bg-teal-dark hover:bg-teal text-white font-bold py-2 px-4 rounded" type="submit" value="Login">
          <a class="no-underline inline-block align-baseline font-bold py-2 px-2 text-sm text-white text-center hover:text-black float-right rounded"
            href="#">
            Mot de passe oublié?
          </a>
        </div>
      </form>
      <div class="text-center text-xs">
        <input type="checkbox" id="remember" name="remember">
        <label for="remember">Se souvenir de moi</label>
      </div>
    </div>
  </div>
</div>
{{outlet}}