<div class="bg-grey-lighter h-screen font-sans">
  <div class="container mx-auto h-full flex justify-center items-center">
    <div class="sm:w-4/5 md:w-2/5 lg:w-1/3 xl:w-3/10 xxl:w-1/4">
      <form class="border-teal p-8 border-t-12 bg-blue  rounded-lg shadow-lg" onsubmit={{action "login"}}>
        <img class="mb-6" src="/assets/images/logo.png" alt="Pimp my trip logo">
        <div class="mb-4">
          {{input type="text" value=contactConfirmEmail class="block appearance-none w-full bg-white border
          border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Email" id="email"}}
        </div>
        <div class="mb-4">
          {{input type="password" value=contactConfirmPwd class="block appearance-none w-full bg-white border
          border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Mot de passe" id="password"}}
        </div>
        <div class="flex items-center justify-between">
          <input class="bg-teal-dark hover:bg-teal text-white font-bold py-2 px-4 rounded" type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>
{{outlet}}