<h2>Tableau de bord - {{model.idUser.firstname}} {{model.idUser.lastname}}</h2>

<h3 class="mt-2">Liste clients</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/4">Id</th>
      <th class="w-1/4">Nom</th>
      <th class="w-1/4">Prénom</th>
      <th class="w-1/4">Actions</th>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center ">2</td>
      <td class="w-1/4 text-center">Aurore</td>
      <td class="w-1/4 text-center">Liéatyard</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">3</td>
      <td class="w-1/4 text-center">Roger</td>
      <td class="w-1/4 text-center">Vander</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">4</td>
      <td class="w-1/4 text-center">Maxime</td>
      <td class="w-1/4 text-center">Auquier</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.requests"}}Voir toutes vos demandes de devis{{/link-to}}
  </div> --}}
</div>

<h3 class="mt-4">Liste devis</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/4">Id</th>
      <th class="w-1/4">Id client</th>
      <th class="w-1/4">Cloturé</th>
      <th class="w-1/4">Actions</th>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">2</td>
      <td class="w-1/4 text-center">24</td>
      <td class="w-1/4 text-center">Oui</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">3</td>
      <td class="w-1/4 text-center">8</td>
      <td class="w-1/4 text-center">Non</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">4</td>
      <td class="w-1/4 text-center">12</td>
      <td class="w-1/4 text-center">Oui</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.proposals"}}Voir toutes les propositions de devis{{/link-to}}
  </div> --}}
</div>

<h3 class="mt-4">Liste dossiers</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/4">Id</th>
      <th class="w-1/4">Id Client</th>
      <th class="w-1/4">Destination</th>
      <th class="w-1/4">Actions</th>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">2</td>
      <td class="w-1/4 text-center">25</td>
      <td class="w-1/4 text-center">Paris</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">4</td>
      <td class="w-1/4 text-center">8</td>
      <td class="w-1/4 text-center">Londres</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">5</td>
      <td class="w-1/4 text-center">16</td>
      <td class="w-1/4 text-center">Barcelone</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.folders"}}Voir tous vos devis acceptés{{/link-to}}
  </div> --}}
</div>




{{outlet}}