@import 'tailwind.css';

.prompt{
    font-family: 'Prompt', sans-serif;
}

*, *:before, *:after {-moz-box-sizing: border-box; box-sizing: border-box;}

body{
  font-family:'Roboto';
  font-size:14px;
  background-color: #F6F6F6;

}

.wrapper{
  width:960px;
}

ul{
  font-size: 12px;

}

li{
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: white;
}
h1{
  font-family: 'Prompt', sans-serif;
}
header {
 /* height:500px; */
}
p {
  font-size: 12px;
}

#about {
  background-image: url("/assets/images/aPropos/aPropos_banner.jpg");
  background-size: cover;
  background-position: center;
}
#contact {
  background-image: url("/assets/images/contact/contact_banner.jpg");
  background-size: cover;
  background-position: center;
}
#write {
  background-image: url("/assets/images/contact/contact_writing.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
}

/* --------------------- colors --------------------- */

.bgPrimaryBlue{
  background-color:#17B3F6;
}

.bgGreyBlack{
  background-color:#3C3C3C;
}

.bgLightGrey{
  background-color: #F6F6F6;
}

/* ------------------------------------------------------------------- */
/* ---------------------------BACK OFFICE----------------------------- */
/* ------------------------------------------------------------------- */

/* --------------------- buttons ------------------- */

button{
  padding: 0.5rem 1rem;
  background-color:#17B3F6;
  border:none;
  border-radius:.125rem;
  color:white;
  font-weight:bold;
}

/* --------------------- a --------------------- */

.menuBack a, .footer a{
  text-decoration: none;
  color:black;
}


/* --------------------- menu --------------------- */

nav .menuBack li{
  padding:15px;
  width:100%;
  border-bottom:1px solid black;
}

nav .menuBack li:hover{
  color:white;
  background-color:#3C3C3C;
  display:block;
}

nav .menuBack li i{
  width:20px;
  text-align:center;
}

.banner{
  padding:15px;
  line-height: 35px;
}

.menuBack .active{
  color:white;
  background-color:#3C3C3C;
  display:block;
}


/* --------------------- footer --------------------- */
.footer a{
  color:grey;
}



/* --------------------- table --------------------- */

tr:nth-child(2n) {
  background-color: #F6F6F6;
}

/* --------------------- étapes --------------------- */

.etape{
  color:#17B3F6;
  margin-top:40px;
  position:relative;
}

.etape:after{
  width:100%;
  display: block;
  border-bottom:1px solid #17B3F6;
  position: absolute;
  content:"";
}

.py-030{
  padding-bottom: .30rem;
  padding-top: .30rem;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
