<h2>Proposition du devis n°id de la part de l'agent</h2>

<div class="bg-white shadow-md mt-4 md:w-1/2">

  <div class="flex">
    <div class="flex-1 w-1/2 p-3">
      Prénom<br>
      <div class="italic text-grey-dark">Michel</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Nom<br>
      <div class="italic text-grey-dark">Forever</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Email<br>
      <div class="italic text-grey-dark">michel.forever@gmail.com</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Genre<br>
      <div class="italic text-grey-dark">Homme</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Nom de société<br>
      <div class="italic text-grey-dark">La Fiesta ASBL</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      N° TVA<br>
      <div class="italic text-grey-dark">BE 12345677890</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="italic text-grey-dark">Belgique</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="italic text-grey-dark">Marcinelles</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Code postal<br>
      <div class="italic text-grey-dark">1234</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Rue<br>
      <div class="italic text-grey-dark">Rue de la bagarre</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Numéro<br>
      <div class="italic text-grey-dark">42</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Date de départ<br>
      <div class="italic text-grey-dark">10/04/1992</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Date de retour<br>
      <div class="italic text-grey-dark">13/02/2010</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Heure de départ<br>
      <div class="italic text-grey-dark">01:23</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Heure de retour<br>
      <div class="italic text-grey-dark">12:34</div>
    </div>
  </div>

  <h4 class="p-3">Destination</h4>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="italic text-grey-dark">Fantaland</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="italic text-grey-dark">Fantacity</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Rue<br>
      <div class="italic text-grey-dark">Rue du fanta</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Numéro<br>
      <div class="italic text-grey-dark">13</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Code postal<br>
      <div class="italic text-grey-dark">4321</div>
    </div>
  </div>

  <h4 class="p-3">Lieu de départ</h4>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="italic text-grey-dark">Belgique</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="italic text-grey-dark">Charleroi</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="italic text-grey-dark">Belgique</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="italic text-grey-dark">Charleroi</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Rue<br>
      <div class="italic text-grey-dark">Boulevard des belges</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Numéro<br>
      <div class="italic text-grey-dark">31</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Code postal<br>
      <div class="italic text-grey-dark">7800</div>
    </div>
  </div>

  <div class="mt-4">
    <div class="p-3">
      Commentaires<br>
      <div class="italic text-grey-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis,
        lorem a rhoncus feugiat, mauris orci malesuada magna, id suscipit neque quam et magna. Sed sodales accumsan
        facilisis. Curabitur euismod, dolor nec pellentesque hendrerit, sapien orci feugiat leo, ornare ultricies dolor
        eros tristique nisl. Aenean tincidunt ultrices dictum. Morbi volutpat est laoreet posuere convallis. Proin vel
        risus facilisis, ullamcorper augue in, ultricies metus. Nam scelerisque gravida egestas. </div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Durée du voyage<br>
      <div class="italic text-grey-dark">3 jours</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3 w-1/3">123€</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Distance du voyage<br>
      <div class="italic text-grey-dark">502km</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">341€</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Nombre de passagers<br>
      <div class="italic text-grey-dark">30-49</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">102€</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Type de car<br>
      <div class="italic text-grey-dark">Classique</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">42€</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Options<br>
      <div class="italic text-grey-dark">Toilette</div>
      <div class="italic text-grey-dark">Remorque</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">123€</div>
      <div class="font-bold text-right w-1/3">133€</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Coûts supplémentaires<br>
      <div class="italic text-grey-dark">Vous avez utilisé du lorem ispum en commentaires</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">1000€</div>
    </div>
  </div>

  <div class="flex justify-end m-4">
    <div class="p-3 w-1/5">
      Total
    </div>
    <div class="p-3 w-1/5 font-bold">
      1618€
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      <div class="font-bold">Informations de votre agent</div>
      <div class="">Si vous désirez contacter l'agent qui s'occupe de votre devis :</div>
    </div>
  </div>

  <div class="flex">
    <div class="flex-1 w-1/2 p-3">
      Numéro téléphone de service<br>
      <div class="italic text-grey-dark">0498.64.30.49</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Email<br>
      <div class="italic text-grey-dark">michel.delpêche@gmail.com</div>
    </div>
  </div>

  <div class="flex justify-end p-3">
    <button>Accepter</button>
    <button class="ml-3">Refuser</button>
  </div>


</div>

{{outlet}}