<select name="placeAutocar" class="nofocus flex-1 appearance-none bg-white border border-grey-light hover:border-grey h-8 px-1 py-1 w-full rounded shadow">
  {{#if (compare placeAutocar "===s" 30)}}
    <option selected value="30">30-Pl</option>
  {{else}}
    <option value="30">30-Pl</option>
  {{/if}}
  {{#if (compare placeAutocar "===s" 50)}}
    <option selected value="50">50-Pl</option>
  {{else}}
    <option value="50">50-Pl</option>
  {{/if}}
  {{#if (compare placeAutocar "===s" 70)}}
    <option selected value="70">70-Pl</option>
  {{else}}
    <option value="70">70-Pl</option>
  {{/if}}
</select>