<select name="countryRequest" class="nofocus flex-1 appearance-none bg-white border border-grey-light hover:border-grey h-8 px-1 py-1 w-full rounded shadow">
  {{#if (compare countryRequest '===' 'belgique')}}
  <option selected value="Belgique">Belgique</option>
  {{else}}
  <option value="Belgique">Belgique</option>
  {{/if}}
  {{#if (compare countryRequest '===' 'france')}}
  <option selected value="France">France</option>
  {{else}}
  <option value="France">France</option>
  {{/if}}
  {{#if (compare countryRequest '===' 'espagne')}}
  <option selected value="Espagne">Espagne</option>
  {{else}}
  <option value="Espagne">Espagne</option>
  {{/if}}
</select>